{% extends 'primes/catalog.html' %}

{% block worker %}

        {% block title %}
            Author's Details
        {% endblock %}

        {% block styles %}
        <style>
            .jumbotron {
                text-align: center;
            }
        </style>
        {% endblock %}

        {% block jumbotron %}
         <!-- Main jumbotron for a primary marketing message or call to action -->
              <div class="jumbotron">

                  {% block content %}

                  <h1>Delete Author</h1>

                  <p>Are you sure you want to delete the author: {{ author }}?</p>

                  <form action="" method="POST">
                      {% csrf_token %}
                      <input type="submit" class="btn btn-deault" action="" value="Yes, delete." />                 </form>

                  {% endblock %}

              </div>

        {% endblock %}

{% endblock %}