{% extends 'primes/catalog.html' %}

{% block worker %}

{% block title %}
    Authors
{% endblock %}

    {% block styles %}
        <style>
            .jumbotron {
                text-align: center;
            }
        </style>
        {% endblock %}

        {% block jumbotron %}
         <!-- Main jumbotron for a primary marketing message or call to action -->
              <div class="jumbotron">

                  {% block content %}
                    <h1>Authors List</h1>

                      {% if author_list %}
                      <ul>

                          {% for author in author_list %}
                          <li>
                              <a href="{{ author.get_absolute_url }}">{{author.first_name}} {{author.last_name}}</a>
                          </li>
                          {% endfor %}

                      </ul>
                      {% else %}

                        <p>There are no authors by that name.</p>

                      {% endif %}

                  {% endblock %}

              </div>
        {% endblock %}

{% endblock %}