{% extends 'base.html' %}

{% block title %}
    <title>My Library</title>
{% endblock %}

{% block master %}

    {% block styles %}
    <style>
        .jumbotron {
            text-align: center;
        }
    </style>
    {% endblock %}

    {% block jumbotron %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
              {% block content %}
                <h1>Local Library Homepage</h1>

                <p>Welcome to <em>My Library</em>!</p>

                <p>The library has the following record counts:</p>

                <ul>
                  <li><strong>Books:</strong> {{ num_books }}</li>
                </ul>
              {% endblock %}
          </div>
    {% endblock %}

{% endblock %}
