{% extends 'primes/account.html' %}

{% block worker %}

    {% block styles %}
        <style>
            .jumbotron {
                text-align: center;
            }
        </style>
    {% endblock %}

    {% block jumbotron %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            {% block content %}

                <h1>The password has been changed!</h1>
                <p><a href="{% url 'login' %}">log in again?</a></p>

            {% endblock %}
          </div>
    {% endblock %}

{% endblock %}